@page
@using SE1726_Group6_A2.Models
@model SE1726_Group6_A2.Pages.OrderDetails.AddModel
@using Microsoft.AspNetCore.Http
@using SE1726_Group6_A2.Models;
@using Newtonsoft.Json;
@{
    var acc = JsonConvert.DeserializeObject<Staff>(HttpContext.Session.GetString("acc"));
}
<dl class="row">
    <dt class="col-sm-3">
        <h5>Hello @acc.Name</h5><hr class="no-margin">
        @if (acc.Role == 1)
        {
            <a asp-page="/ManageStaff/Index">Staff Management</a>
            <br />
            <br />
            <a asp-page="/Products/Index">Product Management</a>
            <br />
        }
        @if (acc.Role == 0)
        {
            <br />
            <a asp-page="/Order/Index">Order Management</a>
            <br />
        }
        <br />
        <a asp-page="/Profile/Profile">Profile </a>
        <br />
        <br />
        <a asp-page="/Report/Report">Order Report</a>
        <br />
        <br />
        <a asp-page="/Login/LogOut">LOG OUT</a>
        <br />
    </dt>
    <dt class="col-sm-9">
        <a asp-page="index">Back to list</a>
        <h1> Add Order detail</h1>
        <div class="form-control">
            <form method="POST">
                <table>
                    <tr>
                        <td> <label>OrderId</label></td>
                        <td> <input name="OrderId" readonly value="@Model.orderId" type="text" /></td>
                    </tr>
                    <tr>
                        <td> <label>ProductName</label></td>
                        <td>
                            <select name="ProductId">
                                @foreach (var p in Model.products)
                                {
                                    <option value="@p.ProductId">@p.ProductName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <label>Quantity</label></td>
                        <td><input name="Quantity" type="text" /> </td>
                    </tr>
                    <tr>
                        <td> <label>UnitPrice</label></td>
                        <td> <input name="UnitPrice" type="text" /></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> <input type="submit" /></td>
                    </tr>

                </table>

            </form>
        </div>
    </dt>
</dl>
