@page
@model SE1726_Group6_A2.Pages.Products.EditModel
@using Microsoft.AspNetCore.Http
@using SE1726_Group6_A2.Models;
@using Newtonsoft.Json;

@{
    var acc = JsonConvert.DeserializeObject<Staff>(HttpContext.Session.GetString("acc"));
}
<dl class="row">
    <dt class="col-sm-3">
        <h5>Hello @acc.Name</h5><hr class="no-margin">
        @if (acc.Role == 1)
        {
            <a asp-page="/ManageStaff/Index">Staff Management</a>
            <br />
            <br />
            <a asp-page="/Products/Index">Product Management</a>
            <br />
        }
        @if (acc.Role == 0)
        {
            <br />
            <a asp-page="/Order/Index">Order Management</a>
            <br />
        }
        <br />
        <a asp-page="/Profile/Profile">Profile </a>
        <br />
        <br />
        <a asp-page="/Report/Report">Order Report</a>
        <br />
        <br />
        <a asp-page="/Login/LogOut">LOG OUT</a>
        <br />
    </dt>
    <dt class="col-sm-9">
        <h4>Product</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Product.ProductId" />
                    <div class="form-group">
                        <label asp-for="Product.ProductName" class="control-label"></label>
                        <input asp-for="Product.ProductName" class="form-control" />
                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.CategoryId" class="control-label"></label>
                        <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.UnitPrice" class="control-label"></label>
                        <input asp-for="Product.UnitPrice" class="form-control" />
                        <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="./Index">Back to List</a>
        </div>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </dt>
</dl>